<div id = "hobbies" class="cont">
    <img src="assets/Images/Hobbies.png" class = "title" alt = "header"/>
    <h4> ----xxx----</h4>
    <h3>{{data.subTitle}}</h3>


    <div class="row">
        <div class="col-md-1 col-sm-2 col-3">  Filter By </div>
        <div class="col-md-1 col-sm-2 col-3"> <img src="assets/Images/Tag1.png" alt="tag" class="tagImage"/>  </div>
        <div class="col-md-1 col-sm-2 col-3"> <img src="assets/Images/Tag2.png" alt="tag" class="tagImage"/>  </div>
        <div class="col-md-1 col-sm-2 col-3"> <img src="assets/Images/Tag3.png" alt="tag" class="tagImage"/>  </div>
        <div class="col-md-1 col-sm-2 col-3"> <img src="assets/Images/Tag4.png" alt="tag" class="tagImage"/>  </div>
        <div class="col-md-1 col-sm-2 col-3"> <img src="assets/Images/Tag5.png" alt="tag" class="tagImage"/>  </div>
        <div class="col-md-1 col-sm-2 col-3"> <img src="assets/Images/Tag6.png" alt="tag" class="tagImage"/>  </div>

    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img src="assets/Images/Guitar.jpg" alt="hobbi" class="tagImage"/> 
                <div class="card-body">
                    <p >{{data.hobbies[0].description}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3"> 
            <div class="card">
                <img src="assets/Images/Tenis.jpg" alt="hobbi" class="tagImage"/> 
                <div class="card-body">
                    <p >{{data.hobbies[1].description}} </p>
                </div>
            </div>
        </div>
        <div class="col-md-3"> 
            <div class="card">
                <img src="assets/Images/VideoGame.jpg" alt="hobbi" class="tagImage"/> 
                <div class="card-body">
                    <p >{{data.hobbies[2].description}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-3"> 
            <div class="card">
                <img src="assets/Images/Car.jpg" alt="hobbi" class="tagImage"/> 
                <div class="card-body">
                    <p>{{data.hobbies[3].description}} </p>
                </div>
            </div>
        </div>

    </div>

</div>
