<div id ="aboutMe" class="cont">

    <img src="assets/Images/AboutMe.png" class="title mx-auto d-block" alt="header" />
    <h4> ----xxx----</h4>
    <h4>{{data.subTitle}}</h4>

    <div class="row">

        <div class="col-md-3"> 
            <img src="assets/Images/Ball.png" alt="sport" class="activityImage"/> 
            <h3>{{data.aboutMe[0].title}}</h3><h5>{{data.aboutMe[0].subTitle}}</h5>
            <p>{{data.aboutMe[0].description}} </p>
        </div>
        <div class="col-md-3"> 

            <img src="assets/Images/Music.png" alt="music" class="activityImage" />
            <h3>{{data.aboutMe[1].title}}</h3><h5>{{data.aboutMe[1].subTitle}}</h5>
            <p>{{data.aboutMe[1].description}} </p>
        </div>
        <div class="col-md-3"> 
            <img src="assets/Images/Clothes.png" alt="clothes" class="activityImage"/> 
            <h3>{{data.aboutMe[2].title}}</h3><h5>{{data.aboutMe[2].subTitle}}</h5>
            <p>{{data.aboutMe[2].description}} </p>

        </div>
        <div class="col-md-3">
            <img src="assets/Images/Food.png" alt="food" class="activityImage" /> 
            <h3>{{data.aboutMe[3].title}}</h3><h5>{{data.aboutMe[3].subTitle}}</h5>
            <p>{{data.aboutMe[3].description}} </p>

        </div>

    </div>


</div>